<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules_11"
        android:dataExtractionRules="@xml/backup_rules_12"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- =========================== -->
        <!-- ======= ITS SDK ======= -->
        <!-- =========================== -->
        <service
            android:name="com.gosu.itc.its.utils.ITSFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.gosu.itc.its.WriteKey"
            android:value="34N067RTWhIKvGamjk8g2uItof9" />
        <meta-data
            android:name="com.gosu.itc.its.SigningKey"
            android:value="d68fbfc498854790821cf14eb3447ada" />


    </application>

</manifest>